<div class="container">
  <!-- Navegação -->
  <div class="mt-5" style="display: flex; justify-content: center;">
    <a routerLink="/lista" class="btn btn-outline-info">Ver lista</a>
    <a routerLink="/cadastro" class="btn btn-outline-success">Cadastro Novo</a>
    <a routerLink="/upload" class="btn btn-outline-danger">Carregar Ficha</a>
    <a routerLink="/user-cadastro" class="btn btn-outline-danger">Cadastro de usuário</a>
  </div>

  <!-- Área onde o componente correspondente à rota será carregado -->
  <router-outlet></router-outlet>
</div>