form {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #004646;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #004646;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 48%;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #004646;
  color: white;
  margin-right: 4%;
}

button[type="button"] {
  background-color: #dc3545;
  color: white;
}

button:hover {
  opacity: 0.9;
}

button[type="submit"]:hover {
  background-color: #004646; /* Cor de "Texto" no hover */
}


div[style*="color: red;"] {
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}
