
.lista-container {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px; 
}

.lista-container h2 {
  color: #4fc0c0; 
  text-align: center;
  margin-bottom: 20px;
}

.lista-item {
  background-color: #f9f9f9; 
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px; 
}


.lista-item:hover {
  background-color: #eafaf1; 
  cursor: pointer;
}


.lista-item p {
  color: #333333; 
  line-height: 1.6;
  margin: 0;
}


.lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-item-header {
  font-weight: bold;
  color: #f58a6a; 
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}
