/* Estilo para o campo de pesquisa */
.row .form-control {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botão de pesquisa */
.row .btn-success {
  width: 20%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #53b123;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.row .btn-success:hover {
  background-color: #00767e;
}

/* Alerta de mensagem */
.alert-warning {
  font-size: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

/* Tabela */
.table-striped {
  background-color: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid #dee2e6;
}

.table-striped thead th {
  background-color: #f8f9fa;
  text-align: center;
  font-weight: bold;
  color: #212529;
}

.table-striped tbody tr:hover {
  background-color: #f1f3f5;
}

.table-striped tbody td {
  vertical-align: middle;
  text-align: center;
}

/* Botões de ação */
.table-striped .btn-primary {
  background-color: #00a157;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}

.table-striped .btn-primary:hover {
  background-color: #008d74;
}

.table-striped .btn-danger {
  background-color: #dc3545;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}

.table-striped .btn-danger:hover {
  background-color: #bd2130;
}

/* modal editar*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  /* Fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}
