<div class="container mt-4">
  <div class="alert alert-warning" *ngIf="mensagem">{{ mensagem }}</div>
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Resultados da Pesquisa</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Documento</th>
            <th>Ações</th> <!-- Coluna para os botões de editar e remover -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of pacientes">
            <td>{{ paciente.codigo }}</td>
            <td>{{ paciente.nomeCompleto }}</td>
            <td>{{ paciente.dataNascimento }}</td>
            <td>
              <!-- Botão Editar -->
<button class="btn btn-warning" (click)="editar(paciente.codigo ?? 0)">Editar</button>

<!-- Botão Remover -->
<button class="btn btn-danger" (click)="remover(paciente.codigo ?? 0)">Remover</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
